body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #f4f4f4;
    color: #13273e;
    overflow-x: hidden;
}

h1, h2, h3, h4, p {
    font-weight: 100;
    margin: 0px;
}

.nav-link {
    padding: 15px;
}

.nav-div {
    flex-grow: 1;
}

a {
    color: #aaa;
}

a:hover {
    color: #111;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

#particles-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    z-index: -1;
}

#navbar {
    margin: 0px;
    padding: 0px;
}

#navbar .flex-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#navbar .flex-nav .nav-div {
    display: none;
}

#navbar .nav-title {
    padding-left: 20px; 
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    #navbar {
        height: 75px;
    }

    #navbar .flex-nav {
        justify-content: left;
    }

    #navbar .flex-nav .nav-div {
        display: block;
    }
}

#content {
    margin-top: 40px;
    padding: 20px;
}

.panel {
    padding: 20px;
}

.panel p {
    font-size: 16px;
}

a.active {
    color: #13273e;
    border-bottom: 2px solid #13273e;
}

a.plain-link {
    display: inherit;
}

.title {
    color: #13273e;
}

.person {
    display: flex;
    padding-bottom: 20px;
}

.person img {
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 15px;
}

.person .img-placeholder {
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 15px;
    background-color: #e8e8e8;
    flex-shrink: 0;
}

.person ul.p-social {
    list-style-type: none;
    padding: 0px;
}

.person ul.p-social li {
    display: inline-block;
    margin-right: 10px;
}

.person ul.p-social li a {
    text-decoration: none;
    color: #888;
}

.vert-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 10px;
}

.social {
    font-size: 20px;
}

.social a {
    color: #13273e;
}